@model Estudantes_CodeLopp_.Models.SerieDeIngresso

@{
    ViewBag.Title = "Detalhes";
}

 

<div>

<br />  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
